* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-image: url(../images/back.jpg);
    color: white;
}

/* navbar.html */
.nav li{
    display: inline-block;
    padding: 0 50px;
}

/* macros.html */
.page1{
    display: flex;
    margin: 10 10px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.page2{
    height: auto;
    width: 20%;
}

/* articles.html */
.title1{
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Times New Roman',Times,serif;
}

/* index.html */
.content{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman',Times,serif;
    margin-bottom: 16px;
}
.title2{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Times New Roman',Times,serif;
    font-style: oblique;
}

