* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-image: url(../images/back.jpg);
    color: white;
    height: auto;
    
}
.nav li{
    display: inline-block;
    padding: 0 50px;
}
.page1{
    display: flex;
    margin: 10 10px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}
.page2{
    height: auto;
    width: 20%;
}
#sourcename{
    font-weight: bold;
}
.row{
    font-size: 20px;
    font-weight: bold;
}
.overlay {
    width: 100%;
    padding-top: 1%;
}
.header{
    font-size: 50px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}
.headers{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman',Times,serif;
}
   