{% extends 'base.html'%}
{% import 'macros.html' as macro%}




    {% block content %}

    <div class="container">
        <!-- General News -->
        <h3> General News</h3>
        <ul>
            {{ macro.display_new_sources(General)}}
        </ul>
        <!--  Business News -->
        <h3> Business News </h3>
        <ul>
            {{ macro.display_new_sources(Business)}}
        </ul>
        <!--Business News -->
        <h3>Political News</h3>
        <ul>
            {{ macro.display_new_sources(Political)}}
        </ul>

        <!-- <form>
            <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form> -->

    </div>

   
    {% endblock%}
